* {
    padding: 0;
    margin: 0;
}

#body {
    background: black;
    color: rgba(2, 178, 254, 0.988);
    display: flex;
    flex-direction: column;
    font-size: 20px;
}



.button1 {
    font-size: 20px;
    color: rgba(2, 178, 254, 0.988);
    border-color: rgba(2, 178, 254, 0.988);
    background: black;
}

.button2 {
    font-size: 20px;
    color: rgba(2, 178, 254, 0.988);
    border-color: rgba(2, 178, 254, 0.988);
    background: black;
}

#likes {
    color: rgba(2, 178, 254, 0.988)
}

#container {
    width: 50%;
    height: 50%;
    display: flex;
    border: 50%;
    border-color: rgba(2, 178, 254, 0.988);
}